#--- Settings for Django Docker container -------------------------------------

ENVIRONMENT=production

DJANGO_SETTINGS_MODULE="settings.deployment"
DJANGO_DEBUG=False

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,example.com
CSRF_TRUSTED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,http://0.0.0.0:8080,https://example.com

# import secrets; print(secrets.token_hex(25))
SECRET_KEY=my-secret-key
SENTRY_URL=

# Host (`postgres:5342`) must stay the same, as this points to postgres
# container which is only internally (within docker compose) available on
# the `postgres` hostname
DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres

# Host (`rabbitmq:5672`) must stay the same
DRAMATIQ_BROKER_URL=amqp://rabbitmq:5672?heartbeat=0



